<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algo.android.algoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Algos.DP_RodCutting"
            android:label="RodCutting"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Algos.DP_Knapsack01"
            android:label="Knapsack 0-1"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Algos.DP_CoinChange"
            android:label="CoinChange"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Algos.DandC_mergeSort"
            android:label="Merge Sort"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Algos.Greedy_FractonalKnapsack"
            android:label="Fractional Knapsack"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>